@import url(https://fonts.googleapis.com/css?family=Oswald);
/*font-family: 'Oswald', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Lato);
/*font-family: 'Lato', sans-serif;*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
    background-image: url('/images/bg.jpg');
}


/*HEADER*/

#header {
    text-align: center;
    background-color: white;
    width: 100%;
}

#header #header_bar {
    display: block;
    margin: auto;
}

#header #header_bar #plus_button {
    /*background-color: yellow;*/
    font-family: 'Lato', sans-serif;
    border: 2px solid #F48254;
    color: #B74326;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: lighter;
    font-size: 38px;
    text-decoration: none;
    line-height: 24px;
}

#header #header_bar #plus_button a:link {
    text-decoration: none;
}

#header #header_bar #plus_button a:active {
    text-decoration: none;
}

#header #header_bar #plus_button a:visited {
    text-decoration: none;
}


/*NAVIGATION*/

#header #nav_bar {
    display: block;
    opacity: 0.8;
    background-color: black;
    width: 100%;
}

#header #nav_bar #nav_items {
    padding: 10px 0px;
}

#header #nav_bar #nav_items li {
    /*background-color: yellow;*/
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #818285;
}
        

#header #nav_bar #nav_items .middot {
    background-color: #6E6F72;
    width:5px;
    height:5px;
    display:inline-block;
    border-radius:15px;
    margin: 6px;
}

#header #nav_bar #nav_items li a {
    text-decoration: none;
}

#header #nav_bar #nav_items li a:link {
    color: gray; 
    text-decoration: none;
}

#header #nav_bar #nav_items li a:active {
    text-decoration: none;
}

#header #nav_bar #nav_items li a:visited {
    color: gray; 
    text-decoration: none;
}


/*SECTION*/

#contents_section {
    /*border: 1px solid yellow;*/
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*Content Items*/

#contents_section #items {
    /*border: 1px solid yellow;*/
    max-width: 51%;
    margin: auto;
    margin-top: 24px;
}

#contents_section #items .item_content {
    /*border: 1px solid green;*/
    padding: 10px;
    background-color: white;
    margin: 10px 0px;
}


#contents_section #items .item_content .item_image {
    /*background-color: pink;*/
    float:left;
    width: 28%;
    box-sizing: border-box;
}

#contents_section #items .item_content .item_image img {
    max-width: 100%;  /*keeps text from overlapping image when reducing window size*/
    margin: 2px;
}

#contents_section #items .item_content .item_list {
    /*background-color: purple;*/
    padding-top: 8px;
    padding-left: 15px;
    float: right;
    width: 72%;
    opacity: 0.8;
    box-sizing: border-box;
}

#contents_section #items .item_content .item_list .item_heading {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#contents_section #items .item_content .item_list .item_status {
    /*border: 1px solid red;*/
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    opacity: 0.6;
}

#contents_section #items .item_content .item_list .item_status_last {
    /*border: 1px solid red;*/
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    opacity: 0.6;
}

#contents_section #items .item_content .item_list .middot {
    background-color: #6E6F72;
    width:5px;
    height:5px;
    display:inline-block;
    border-radius:15px;
    margin: 4px;
}

#contents_section #items .item_content .item_list .middot_last {
    background-color: #6E6F72;
    width:5px;
    height:5px;
    display:inline-block;
    border-radius:15px;
    margin: 4px;
}

#contents_section #items .item_content .item_list .item_detail {
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}


                        /*MEDIA QUERIES*/

/* MOBILE ONLY */
@media only screen and (max-width: 480px){

    /*HEADER*/

    #header #header_bar {
        text-align: left;
    }

    #header #header_bar #plus_button {
        /*border: 2px solid #FF0000;*/
        text-align: center;
    }

    /*NAVIGATION*/

    #header #nav_bar {
        text-align: center;
    }

    #header #nav_bar #nav_items {
        margin: 0px 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #header #nav_bar #nav_items li {
        /*background-color: yellow;*/
        margin-right: 0px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        border-right: 1px solid #818285;
    }

    #header #nav_bar #nav_items #last {
        /*background-color: yellow;*/
        border-right: 1px solid black;
    }

    #header #nav_bar #nav_items .middot {
        display: none;
    }


    /*SECTION*/

    #contents_section {
        /*border: 5px solid white;*/
        padding-top: 1px;
        margin-top: 0px;
    }

    #contents_section #items {
        max-width: 95%;
        margin-top: 5px;
    }

    #contents_section #items .item_content .item_list .middot_last {
        display: none;
    }

    #contents_section #items .item_content .item_list .item_status_last {
        display: none;
    }

    #contents_section #items .item_content .item_list .item_detail {
        display: none;
    }

    footer {
        display: none;
    }

}

/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    /*HEADER*/

    #header #header_bar {
        /*border: 1px solid blue;*/
        background-image: url("/images/header_bg.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    /*SECTION*/

    #contents_section {
        /*border: 5px solid white;*/
        padding-top: 1px;
        margin-top: 0px;
    }

    #contents_section #items {
        /*border: 5px solid white;*/
        max-width: 96%;
        margin: 5px auto;
    }
    
    footer {
        display: none;
    }

}

/* DESKTOP */
@media only screen and (min-width: 769px){

    /*HEADER*/

    #header #header_bar {
        /*border: 1px solid blue;*/
        background-image: url("/images/header_bg.svg");
        background-repeat: no-repeat;
        background-position: center;
    }


    #header #header_bar #plus_button:hover {
        background-color: #F1592A;
        color: white;
    }
    
    #header #header_bar #plus_button a:hover {
        text-decoration: none;
    }

    /*NAVIGATION*/

    #header #nav_bar #nav_items li a:hover {
        text-decoration: none;
        color: #F1592A;
    }


    /*SECTION*/

    #contents_section #items .item_content:hover {
        border: 2px solid orange;
        /*box-sizing: border-box;*/  /*box resizes on hover*/
    }
    
    #contents_section #items .item_content:hover .item_list .item_heading {
        color: #B94326;
    }

    /*FOOTER*/

    footer {
        background-color: #2C2C2E;
        position: fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }

    footer img {
        margin: 10px 0px;
    }

    footer #facebook_icon {
        /*background-color: white;*/
        display: inline-block;
        width: 26px;
        position: relative;
        background-image: url('/images/facebook_grey.svg');
        background-repeat: no-repeat;
        background-position: center;
        padding: 16px 3px;
    }

    footer #facebook_icon span {
        visibility: hidden;
    }

    footer #facebook_icon:hover {
        background-image: url('/images/facebook_orange.svg');
    }
    
    footer #instagram_icon {
        /*background-color: yellow;*/
        display: inline-block;
        width: 26px;
        position: relative;
        background-image: url('/images/instagram_grey.svg');
        background-repeat: no-repeat;
        background-position: center;
        padding: 16px 3px;
    }

    footer #instagram_icon span {
        visibility: hidden;
    }

    footer #instagram_icon:hover {
        background-image: url('/images/instagram_orange.svg');
    }

}

